<nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #ffffff;">
  <a class="navbar-brand" href="#">
    <img src="..." width="30" height="30" alt="">
  </a>
  <a class="navbar-brand mb-0 h1" href="#"><span class="text-primary">BOOK4YOU</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto"> <!-- Use ml-auto class here -->
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About Us</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/contact" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Contact Us
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/contact">TWITTER</a>
          <a class="dropdown-item" href="/contact">INSTAGRAM</a>
          <a class="dropdown-item" href="/contact">LINKEDIN</a>
          <a class="dropdown-item" href="/contact">WRITE FOR US</a>
        </div>
      </li>

      <!-- Conditional display based on user authentication -->
      {% if is_user_authenticated %}
        <li class="nav-item">
          <form class="form-inline my-2 my-lg-0" action="{% url 'profile_search' %}" method="GET">
            <div class="ui action left icon input">
              <input class="btn btn-outline-success my-2 my-sm-0" type="search" name='q' placeholder="Search for profiles"
                aria-label="Search">
              <i class="search icon"></i>
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </div>
          </form>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>

      {% else %}
      <li class="nav-item">
        <a class="btn btn-outline-danger" href="/login">LOGIN</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-danger" href="/signup">SIGNUP</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>